.SeatChoicePage{
    font-family: var(--font-family);
  
  }

.seat_choice_page_top_subheading{
    padding-top: 27px;
}


.seat_choice_page_top_subheading .subheading_page_name{
    font-size: 14px;
    color: #000;
    opacity: .5;
}


.seat_choice_page_top_subheading .img_div img{
    width:18px;
    height: 11px;
    
}

.seat_choice_page_top_subheading .subheading_page_name_to{
    font-size: 14px;
    color: #000;
}



.seat_choice_page_row_box{
    margin: 24px 0;
    border-bottom: 1.4px solid #dfdfdf;
    padding-bottom: 24px;
}


.seat_choice_page_row_box:last-child{
    margin-bottom: 72px;
}


.seat_choice_page_heading{
    padding-bottom: 24px;
    font-size: 28px;
    font-weight: 700;
    color: #20242a;
}


.seat_choice_page_text{
    font-size: 16px;
    color: #20242a;
    font-weight: 400px;
    line-height: 158%;
    padding-top: 16px;
}
