.BookingSearch .row {
    gap: 8px;
    border-radius: 24px;
    padding: 28px 37px;
    box-shadow: 0 24px 40px -16px rgba(0, 0, 0, 0.06);
    background: #fff;
    transform: translateY(-50%);
    user-select: none;
}

.BookingSearch .From,
.BookingSearch .To,
.BookingSearch .Calendar,
.BookingSearch .Passangers {
    border-radius: 10px;
    padding: 8px 16px;
    width: 260px;
    background: #f2f4f8;
    cursor: pointer;
    position: relative;
}

.BookingSearch .Passangers {
    width: 138px;
    padding: 11px 16px;
}

.BookingSearch .From .title,
.BookingSearch .From .right-side,
.BookingSearch .To .title,
.BookingSearch .To .right-side,
.BookingSearch .Calendar .title,
.BookingSearch .Passangers .title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.BookingSearch .From .info,
.BookingSearch .To .info,
.BookingSearch .Calendar .info,
.BookingSearch .Passangers .info {
    margin-top: 4px;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.BookingSearch .btn {
    border-radius: 10px;
    width: 125px;
    height: 57px;
    line-height: 57px;
    background: #0177fc;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(2px);
    }
}

/* =============== FROM, TO -> DROPDOWN =============== */
.BookingSearch .dropdown {
    position: absolute;
    top: 120%;
    left: 0;
    border-radius: 10px;
    padding: 8px 16px;
    width: 290px;
    box-shadow: 0 0 40px -16px rgba(0, 0, 0, 0.2);
    background: #fff;
    opacity: 0;
    z-index: 1;
}

.BookingSearch .dropdown.show {
    opacity: 1;
}

.BookingSearch .dropdown .ticket {
    margin-bottom: 12px;
}

.BookingSearch .dropdown .ticket .city {
    font-family: var(--font-family);
    font-weight: 500;
    margin-bottom: 4px;
}

.BookingSearch .dropdown .ticket .airport {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}


/* =============== PassangersDropdown =============== */
.PassangersDropdown {
    user-select: none;
    position: absolute;
    top: 120%;
    left: 0;
    border-radius: 10px;
    width: 375px;
    box-shadow: 0 0 40px -16px rgba(0, 0, 0, 0.2);
    background: #fff;
    opacity: 0;
}

.PassangersDropdown.show {
    opacity: 1;
}

.PassangersDropdown .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
    padding: 8px 0;
    border-bottom: 1px solid #ebebf0;
}

.PassangersDropdown .box .box-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.PassangersDropdown .box img {
    width: 24px;
    height: 24px;
}

.PassangersDropdown .box .info .passanger-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272a;
}

.PassangersDropdown .box .info .passanger-descr {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #808089;
}

.PassangersDropdown .box .controls {
    display: flex;
    align-items: center;
    gap: 4px;
}

.PassangersDropdown .box .controls .count {
    border: 1px solid #dddde3;
    border-radius: 4px;
    padding: 8px;
    width: 60px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    color: #27272a;
    cursor: auto;
}

.PassangersDropdown .box .controls button {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: no-drop;
    background: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--second-family);
    font-weight: 400;
}

.PassangersDropdown .box .controls button.active {
    color: #1a94ff;
    border-color: #1a94ff;
    cursor: pointer;
}

.PassangersDropdown .box .controls .count.active {
    border-color: #1a94ff;
}

.PassangersDropdown .box .controls button.minus img {
    width: 14px;
    height: 3px;
    margin-right: 0;
}

.PassangersDropdown .box .controls button.plus img {
    width: 14px;
    height: 15px;
    margin-right: 0;
}

.PassangersDropdown .btn-box {
    padding: 12px 16px;
}

.PassangersDropdown .btn-box button {
    border-radius: 10px;
    padding: 8px 12px;
    width: 343px;
    height: 50px;
    background: #0177fc;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}


/* =========================== CALENDAR =========================== */

.CalendarDropdown {
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 1;
    width: 375px;
    border-radius: 10px;
    overflow: hidden;
}

.calendar-header {
    padding: 8px 15px;
    height: 66px;
    background: #f5f5fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-header .side {
    width: 50%;
    text-align: center;
}

.calendar-header .side .text {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 150%;
    color: #27272a;
    margin-bottom: 2px;
}

.calendar-header .side .date {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #27272a;
}

.calendar-header .side .date span {
    border-radius: 8px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: rgba(1, 119, 252, 0.7);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.react-datepicker {
    width: 100%;
    border: none !important;
}

.react-datepicker__day--disabled {
    cursor: not-allowed;
}

.react-datepicker__month-container {
    width: 100%;
}

.react-datepicker__header {
    background-color: #fff !important;
    border-bottom: none !important;
}

.react-datepicker__day {
    font-size: 16px;
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.react-datepicker__day--selected,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
    background-color: #0177fc !important;
    color: white !important;
}

.react-datepicker__day--in-selecting-range {
    background: rgba(26, 148, 255, 0.2) !important;
    color: #000 !important;
}

.react-datepicker__day--in-range {
    background: rgba(26, 148, 255, 0.2);
    color: #000;
}

.Calendar .clb {
    text-align: center;
    transform: translateY(-8px);
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 0 40px -16px rgba(0, 0, 0, 0.2);
}

.Calendar .btn.calendar {
    width: 95%;
}

/* =========================== media queries =========================== */

@media (max-width: 1240px) {
    .BookingSearch .row {
        padding: 20px;
        flex-wrap: wrap;
    }

    .BookingSearch .From,
    .BookingSearch .To,
    .BookingSearch .Calendar,
    .BookingSearch .Passangers {
        flex: 260px;
    }

    .BookingSearch .Passangers {
        flex: 138px;
    }

    .BookingSearch .btn {
        flex: 125px;
    }
}

@media (max-width: 650px) {
    .BookingSearch .row {
        transform: translateY(-35%);
    }

    .BookingSearch .From,
    .BookingSearch .To,
    .BookingSearch .Calendar,
    .BookingSearch .Passangers {
        flex: 100%;
    }

    .BookingSearch .btn {
        margin-top: 12px;
    }

    .BookingSearch .dropdown {
        width: 100%;
    }

    .PassangersDropdown {
        width: 100%;
    }

    .PassangersDropdown .btn-box button {
        width: 100%;
    }

    .CalendarDropdown {
        border: 1px solid #000;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .react-datepicker__day {
        font-size: 13px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

@media (max-width: 330px) {
    .react-datepicker__day {
        font-size: 12px;
        width: 28px;
        height: 28px;
        line-height: 28px;
    }
}