.TransportationConditions *{
    font-family: var(--font-family);
}

.TransportationConditions .row{
    padding-bottom: 72px;
}

.transp_conditions_page_top_subheading{
    padding-top: 27px;
}

.transp_conditions_page_top_subheading .subheading_page_name{
    font-size: 14px;
    color: #000;
    opacity: .5;
}


.transp_conditions_page_top_subheading .img_div img{
    width:18px;
    height: 11px;
    
}

.transp_conditions_page_top_subheading .subheading_page_name_to{
    font-size: 14px;
    color: #000;
}


.transp_conditions_page_heading{
    padding: 24px 0;
    font-size: 28px;
    font-weight: 700;
    color: #20242a;
}

.transp_conditions_page_info_list{
    list-style-type: none;
}

.transp_conditions_page_info_list li{
    padding: 24px;
    border-radius: 24px;
    background: #fff;
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.transp_conditions_page_info_list li a{
font-weight: 700;
font-size: 24px;
color: #20242a;
}

/* ___________________________________________________________________ */

@media (max-width: 800px) {
    .TransportationConditions .row {
      padding: 0 3%;
    }

    .transp_conditions_page_heading{
        font-size: 26px;
    }
    
    
  .transp_conditions_page_info_list li img{
      width: 22px;
      height: 20px;
  }
  
  .transp_conditions_page_info_list li a{
      font-size: 20px;
      }
  }
  

  
  @media (max-width: 400px) {
  .transp_conditions_page_heading{
      font-size: 24px;
  }
  
  
.transp_conditions_page_info_list li img{
    width: 18px;
    height: 16px;
}

.transp_conditions_page_info_list li a{
    font-size: 16px;
    }

  }
  