.BookingCheckBaggagePage {
    margin-top: 92px;
    margin-bottom: 270px;
}

.BookingCheckBaggagePage .page-row {
    margin-top: 32px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 48px;
}

@media (max-width: 1240px) {
    .BookingCheckBaggagePage {
        margin: 0;
    }

    .BookingCheckBaggagePage .page-row {
        gap: 20px;
        align-items: center;
        flex-direction: column;      
        margin-bottom: 42px;  
    }
}