.BookingClientInfoPage {
    margin-top: 180px;
    margin-bottom: 200px;
}

.BookingClientInfoPage .page-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 32px;
    gap: 50px;
}

.bookingInfoOrderSummary {
    margin-top: 30px;
    position: relative;
    width: 425px;
}

.BookingClientInfoPage .OrderSummary {
    position: fixed;
}

@media (max-width: 1500px) {
    .BookingClientInfoPage .page-row {
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-bottom: 70px;
    }

    .BookingClientInfoPage .OrderSummary {
        position: static;
    }

    .bookingInfoOrderSummary {
        margin-top: 0;
        position: static;
        width: auto;
    }
}

@media (max-width: 734px) {
    .bookingInfoOrderSummary {
        width: 100%;
    }

    .bookingInfoOrderSummary .OrderSummary {
        width: 100%;
    }
}

@media (max-width: 668px) {
    .BookingClientInfoPage {
        margin-top: 0;
    }
}