@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: 'Arial Regular';
  src: url('../../public/fonts/ARIAL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Regular';
  src: url('../../public/fonts/ARIALBD.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all .2s linear;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: 'Arial';
}

*::selection {
  background: #333;
  color: #fff;
}

body {
  background-color: #F5F7F9;
}

.am-font * {
  font-family: 'Arial Regular' !important;
}

.container {
  max-width: 1160px;
  width: 93%;
  margin: auto;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
}

.as-page {
  margin-top: 110px !important;
}