.OnlineRegistarationPage *{
    font-family: var(--font-family);
  
  }

.online_registration_page_top_subheading{
    padding-top: 27px;
}


.online_registration_page_top_subheading .subheading_page_name{
    font-size: 14px;
    color: #000;
    opacity: .5;
}


.online_registration_page_top_subheading .img_div img{
    width:18px;
    height: 11px;
    
}

.online_registration_page_top_subheading .subheading_page_name_to{
    font-size: 14px;
    color: #000;
}

.online_registration_page_row_box{
    margin: 24px 0;
    border-bottom: 1.4px solid #dfdfdf;
    padding-bottom: 24px;
}


.online_registration_page_row_box:last-child{
    border-bottom: none;
}


.online_check_in,
.online_registration_page_list,
.important_information{
   padding-left: 20px;
}

.online_check_in li,
.online_registration_page_list li,
.important_information li{
    font-size: 16px;
    color: #20242a;
    line-height: 150%;
}

.online_registration_page_heading{
    padding-bottom: 24px;
    font-size: 28px;
    font-weight: 700;
    color: #20242a;
}

.online_registration_page_container{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}

.online_registration_page_inner_box{
    flex: 14rem;
    border-radius: 12px;
    border: 1px solid #0177fc;
    padding: 24px;
}

.online_registration_page_inner_box .step{
    font-size: 16px;
    color: rgba(34, 41, 47, .5);
    font-weight: 500;

}

.online_registration_page_inner_box img{
    margin: 16px 0;
    width: 54px;
    height: 54px;
}

.online_registration_page_inner_box .inner_box_heading{
    font-size: 18px;
    font-weight: 700;
    color: #22292f;
}

.online_registration_page_text{
    font-size: 16px;
    color: #20242a;
    font-weight: 400px;
    line-height: 158%;
    padding-top: 16px;
}


.online_registration_page_subheading{
font-weight: 600;
font-size: 16px;
color: #000;
padding: 16px 0;
}


.OnlineRegistarationPage .btn{
    border-radius: 10px;
padding: 18px 35px;
width: 178px;
height: 63px;
box-shadow: 0 16px 24px -12px rgba(0, 0, 0, 0.2);
background: #0177fc;
font-weight: 600;
font-size: 16px;
color: #fff;
}


/* _____________________________________________________ */


@media (max-width:800px){
    .OnlineRegistarationPage .row{
    padding: 0 3%;
    }
    .OnlineRegistarationPage .btn{
        display: block;
    }
}

@media (max-width:400px){

    .OnlineRegistarationPage .btn{
        display: block;
        width: 100%;
    }


    .online_registration_page_text,
    .online_check_in li,
.online_registration_page_list li,
.important_information li{

font-size: 14px;

    }
}