header .row {
    padding: 20px 0;
}

header .row .menu .navbar {
    gap: 24px;
    padding-right: 20px;
    border-right: 1px solid #b3b3b3;
}

header .row .menu .navbar li .nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    color: #22292f;
}

header .row .menu .change-language .current-lang {
    padding-left: 16px;
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 120%;
}

header .row .menu .change-language .current-lang p {
    margin: 0 5px;
}

header .sub-menu {
    display: none;
}