footer {
    padding: 60px 0;
    border-top: 2px solid #d9d9d9;
}

footer .row .footer-logo {
    font-family: var(--font-family);
    font-size: 24px;
    color: #7A7B7C;
}

footer .row .footer-logo img {
    width: 313px;
    margin-bottom: 20px;
}

footer .row .footer-menu {
    display: flex;
    gap: 200px;
}

footer .row .footer-links a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 167%;
    color: #000;
    display: block;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

footer .row .footer-social a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 167%;
    color: #000;
    display: block;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* =========================== media queries =========================== */

@media (max-width: 950px) {
    footer .row.flex-between {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 24px;
    }

    footer .row .footer-menu {
        gap: 0px;
        width: 100%;
        justify-content: space-between;
    }

    footer .row .footer-links a,
    footer .row .footer-social a {
        font-size: 16px;
    }

    footer .row .footer-logo img {
        width: 147px;
    }

    footer .row .footer-logo p {
        font-size: 14px;
    }
}