.BaggagePage *{
    font-family: var(--font-family);
    padding-top: 20px;
}


.baggage_page_top_subheading{
    padding-top: 27px;
}


.baggage_page_top_subheading .subheading_page_name{
    font-size: 14px;
    color: #000;
    opacity: .5;
}


.baggage_page_top_subheading  img{
    width:18px;
    height: 11px;
    
}

.baggage_page_top_subheading .subheading_page_name_to{
    font-size: 14px;
    color: #000;
}

/* ________________________________________ */

.baggage_page_row_box{
    margin: 24px 0;
    padding-bottom: 24px;
}


.baggage_page_row_box:last-child{
    margin-bottom: 72px;
}

.baggage_page_heading{
    font-size: 28px;
    color: #20242a;
}



.baggage_page_heading{
    padding-bottom: 24px;
    font-size: 28px;
    font-weight: 700;
    color: #20242a;
}

.baggage_page_text{
font-weight: 400;
font-size: 16px;
line-height: 158%;
color: #20242a;
}

.baggage_page_container{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}

.baggage_page_inner_box{
    flex: 14rem;
    border-radius: 12px;
    border: 1px solid #0177fc;
    padding:0 24px;
}

.baggage_page_inner_box li{
    list-style: none;
    border-bottom: 1px solid  #d9d9d9;
    padding: 24px;
}

.baggage_page_inner_box .inner_box_heading{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #22292f;
    padding-bottom: 8px;
}
.baggage_page_inner_box .inner_box_text_01{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: rgba(34, 41, 47, 0.5);
}

.baggage_page_inner_box .inner_box_subheading{
    font-weight: 700;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    color: #22292f;
}

.baggage_page_inner_box .inner_box_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    color: #22292f;
}



/* ______________________________________________________ */

@media (max-width:800px){
    .BaggagePage .row{
    padding: 0 3%;
    }

}



@media (max-width:400px){

    .baggage_page_heading{
        font-size: 24px;

    }

.baggage_page_text{
font-size: 14px;

    }
}