.CertificatesPage *{
  font-family: var(--font-family);

}
.certificares_page_top_subheading{
    padding-top: 27px;
  }
  
  
  .certificares_page_top_subheading .subheading_page_name {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
  }
  
  .certificares_page_top_subheading .img_div img {
    width: 18px;
    height: 11px;
  }
  
  .certificares_page_top_subheading .subheading_page_name_to {
    font-size: 14px;
    color: #000;
  }
  
  .certificares_page_row_box {
   margin-bottom: 72px;
  }

  .certificares_page_heading {
    padding: 24px 0;
    font-size: 28px;
    font-weight: 700;
    color: #20242a;
  }
  
  .certificares_page_text {
    font-size: 16px;
    color: #51575f;
    font-weight: 400px;
    line-height: 158%;
    padding-top: 16px;
  }

  .certificares_page_certificares_images_container img{
    display: block;
    margin: 40px auto;
    width: 80%;

  }

  /* _____________________________________________________ */

@media (max-width: 800px) {
    .CertificatesPage .row {
      padding: 0 3%;
    }

  }
  
  @media (max-width: 400px) {
  .certificares_page_heading{
      font-size: 24px;
      text-align: center;
  }
  
    .certificares_page_text{
      font-size: 14px;
    }
  }
  